.clear {
  clear: both;
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
}
/*navigation*/
#navbar {
  height: 55px;
}
#navbar .navbar-header {
  width: 100%;
}
#navbar .navbar-header .collapse.navbar-collapse {
  padding-right: 0;
  width: 100%;
}
#navbar .navbar-header .collapse.navbar-collapse .head-logo {
  float: left;
  margin-left: 0;
}
#navbar .navbar-header .collapse.navbar-collapse .head-logo a {
  background: url("../images/logo-white.png") no-repeat;
  display: block;
  text-indent: -9999px;
  width: 150px;
  height: 30px;
  margin: 8px 0;
}
#navbar .navbar-header .collapse.navbar-collapse ul {
  width: 500px;
}
#navbar .navbar-header .collapse.navbar-collapse > #headerRight {
  float: right;
  width: 300px;
  height: 50px;
}
#navbar .navbar-header .collapse.navbar-collapse > #headerRight #login {
  margin-top: 15px;
  display: inline-block;
}
#navbar .navbar-header .collapse.navbar-collapse > #headerRight #upload {
  display: inline-block;
  /*line-height: 30px;*/
  border-radius: 3px;
  font-size: 13px;
  background-color: #ff3c1f;
  font-weight: bold;
  width: 90px;
}
#navbar .navbar-header .collapse.navbar-collapse > #headerRight #upload a {
  color: #fff;
  padding: 10px 12px;
}
#navbar .navbar-header .collapse.navbar-collapse > #headerRight .ul_info {
  display: none;
  position: absolute;
  z-index: 999;
  background-color: #f8f8f8;
  padding-left: 5px;
  width: 125px;
  border: 1px solid #e7e3e3;
  border-radius: 0 0 5px 5px;
  border-top-width: 0;
}
#navbar li {
  margin: 0 5px;
  padding: 0 0 8px;
  float: left;
  list-style: none;
}
#navbar li .current {
  border-bottom: 3px solid transparent;
  border-color: #ee0005;
}
#navbar li .current a {
  color: #ee0005;
  font-weight: bold;
}
#navbar li a {
  color: #777;
  -webkit-transition: color .2s linear;
}
#navbar li a:hover {
  color: #000;
}
#navbar li:hover > ul {
  display: block;
}
#navbar:hover > a {
  /*   color: #FFFFFF;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
            text-shadow: 1px 1px 1px #FFFFFF;*/
}
/*end navigation*/
/*switch dang anh & video*/
.head {
  background-color: #f4f4f4;
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  padding: 10px 10px 0;
  position: relative;
  box-shadow: 0 1px #ffffff inset, 0 -1px #dddddd inset;
  -moz-box-shadow: 0 1px #ffffff inset, 0 -1px #dddddd inset;
  -webkit-box-shadow: 0 1px #ffffff inset, 0 -1px #dddddd inset;
  height: 60px;
}
.head ul.switch {
  padding-left: 5px;
  margin-bottom: 0;
}
.head ul.switch li {
  width: 150px;
  margin-left: 5px;
  display: inline-block;
}
.head ul.switch li a {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-shadow: 0 1px 0 #fff;
  display: block;
  line-height: 15px;
  padding: 20px 0 15px;
  width: 50px;
  text-align: center;
  padding-top: 5px;
  display: inline;
}
.head ul.switch li.tab_video img {
  height: 40px;
}
/*videos list*/
#items-content.list ul .col-1 li div.info a.fix {
  margin: 0px;
  background: url(../images/sprite_v12.png) no-repeat 0 -2257px;
  padding-left: 16px;
  line-height: 14px;
  margin: -16px 0 22px;
  visibility: hidden;
  color: #399A35;
}
#items-content.list ul .col-1 li div.info a.fix:hover {
  color: #43b93f;
  text-decoration: underline;
}
#items-content.list ul .col-1 li div.info a.report {
  margin: -16px 0 30px;
  visibility: hidden;
}
#items-content.list ul .col-1 li div.info a.report:hover {
  color: #ee5b8c;
  text-decoration: underline;
}
#items-content.list ul .info h1 {
  margin-top: 0;
  color: #000;
  font-size: 18px;
  line-height: 28px;
}
#items-content.list ul .info h1 a {
  color: #000;
  font-size: 18px;
  line-height: 28px;
}
#items-content.list ul .info a:hover {
  color: #0087F7;
  text-decoration: none;
}
#items-content.list ul li img {
  margin: 0 auto;
}
.gag-link {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  list-style-type: none;
  height: 415px;
}
.gag-link .post-info {
  position: relative;
  width: 200px;
  float: right;
}
.gag-link .content {
  float: left;
  text-align: center;
  width: 68%;
  position: relative;
}
.gag-link .img-wrap a img {
  width: 460px;
  height: 345px;
}
.gag-link .img-wrap .videoIndicator {
  position: relative;
  top: -200px;
}
/*top users*/
div.topUsers {
  overflow: hidden;
}
div.topUsers .item {
  float: left;
  margin-bottom: 8px;
  width: 140px;
}
div.topUsers .item img {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
div.topUsers .item .info {
  margin-left: 52px;
}
div.topUsers .name {
  display: block;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 80px;
  font-size: 11px;
}
div.uploader .avatar img {
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
div.uploader .info {
  width: 100px;
  float: left;
  margin-left: 10px;
}
.views {
  line-height: 16px;
  font-size: 14px;
  background: url("../images/view_icon.png") no-repeat scroll 0 0 transparent;
  padding-left: 18px;
}
.comments {
  background: url("../images/comment_icon.png") no-repeat scroll 0 0 transparent;
  padding-left: 18px;
}
#paging-buttons a {
  display: block;
  float: left;
  background-color: #00A5F0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  height: 36px;
  line-height: 36px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #ffffff;
  -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #ffffff;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px #ffffff;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
  width: 45%;
  margin-left: 10px;
}
div.user {
  font-size: 10px;
  color: gray;
}
div.thumbnail {
  border-width: 0;
}
.profile-info h3 {
  margin-top: 0;
}
.profile-info h3 a {
  font-size: 20px;
}
div.post-info {
  float: right;
}
div.avatar {
  width: 150px;
}
.prev-arrow {
  border-top: 17px dashed transparent;
  border-bottom: 17px dashed transparent;
  border-right: 12px solid #ff3c1f;
  position: absolute;
}
.post-next-prev .prev-label {
  padding: 9px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  background-color: #ff3c1f;
  color: #fff;
  border-radius: 3px 0 0 3px;
  margin-left: 11px;
}
.post-next-prev .next-label {
  padding: 9px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  background-color: #ff3c1f;
  color: #fff;
  border-radius: 3px 0 0 3px;
}
.arrow {
  border-top: 17px dashed transparent;
  border-bottom: 17px dashed transparent;
  border-left: 12px solid #ff3c1f;
  position: absolute;
}
#post-control-bar {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
}
div.sensitive_content #sensitive_content {
  margin-right: 5px;
  position: relative;
  top: 2px;
  display: inline-block;
}
div.sensitive_content p {
  display: inline-block;
}
div.form_photo,
div.form_video {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), to(#f9fdff));
  border: 1px solid #f0f0f0;
}
span.tagit-label {
  font-size: 12px;
  color: black;
}
ul.tagit li.tagit-choice .tagit-close {
  top: 48% !important;
}
.photoListItemSmall .info {
  float: left !important;
}
.photoListItemSmall .info h3 {
  width: 195px;
  color: #000;
}
#moving-boxes {
  width: 80%;
}
ul.topUsersSort {
  float: right;
}
ul.topUsersSort li {
  display: inline;
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}
ul.topUsersSort a {
  color: #333;
}
ul.topUsersSort a .selected {
  color: #00A5F0;
}
h3.topUsers {
  float: left;
  color: #222222;
  font-size: 17px;
  line-height: 1.2em;
  margin: 0 0 5px;
}
#topUserContent {
  width: 80%;
}
.darkBox {
  height: 108px;
}
